.calander-bootstrap-budget {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: aliceblue;
}

.budget {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 10%;
}

.budget-bar {
    width: 400px;
    height: 25px;
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    font-size: 15px;
    padding-left: 10px;
    background-image: linear-gradient(to right, rgb(106, 205, 255) 50%, rgb(255, 255, 255) 50%);
}

.calander-bootstrap {
    display: flex;
    justify-content: center;
    height: 90%;
    padding-top: 10px;
}

#calendar {
    width: 80%;
}

.income-event {
    background-color: red;
}

.expense-event {
    background-color: green;
}

.modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}

.modal-content {
    padding: 1rem;
}

.form-control {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

#calander-bootstrap-budget > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.fc-event-main {
    cursor: pointer;
}

.fc-toolbar {
    text-align: center;
}