.calander-bootstrap-budget {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: aliceblue;
}

.budget {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 10%;
}

#budget-bar {
    width: 500px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, rgb(106, 205, 255) 0%, rgb(255, 255, 255) 0%);
}

.calander-bootstrap {
    display: flex;
    justify-content: center;
    height: 90%;
    padding-top: 10px;
}

#calendar {
    width: 80%;
}

.income-event {
    background-color: rgb(216, 90, 96);
}

.fc-daygrid-day-frame:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.fc-daygrid-day-frame:active {
    background-color: black;
}

.fc-h-event {
    display: block;
    border: none;
    border-radius: 5px;
}

.fc-daygrid-day-events {
    width: 90% !important;
    margin: 0 auto;
}

.fc-event-main {
    padding: 2px 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.expense-event {
    background-color: rgb(71, 173, 71);
}

.modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}

.modal-content {
    padding: 1rem;
}

.form-control {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

#calander-bootstrap-budget > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.fc-event-main {
    cursor: pointer;
}

.fc-toolbar {
    text-align: center;
}