<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Dream Track</title>
    <link rel="stylesheet" th:href="@{/asset.css}" type="text/css"/>
</head>
<body>
<header class="main-header">
    <div class="header-flex">
        <div id="logo">Dream Track</div>
        <ul class="feature">
            <li>
                <a href="/">記帳</a
                >
            </li>
            <li>|</li>
            <li><a href="/asset">記資產</a></li>
        </ul>

        <ul class="main-nav-l">
            <li>
                <a href="" id="expenseLink" onClick="handleExpenseClick()"
                >收支圖表</a
                >
            </li>
            <li>|</li>
            <li><a href="" id="menLink" onClick="handleBalanceSheetClick()">資產負債表</a></li>
        </ul>
        <div id="login">Log In</div>
    </div>
</header>
<div class="asset">
    <p>資產</p>

    <table>
        <tbody>
        <tr>
            <th colspan="8">活儲</th>
        </tr>
        <tr>
            <th>#</th>
            <th colspan="2">記錄時間</th>
            <th colspan="3">金額</th>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td>1</td>
            <td colspan="2">2024-04-17 21:01:55</td>
            <td colspan="3">5000</td>
            <td class="delete" colspan="2">
                <button>刪除</button>
            </td>
        </tr>
        <tr>
            <th colspan="8">外幣</th>
        </tr>
        <tr>
            <th>#</th>
            <th>紀錄時間</th>
            <th>購/售</th>
            <th>幣別</th>
            <th>美金數</th>
            <th>台幣數</th>
            <th>匯率</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>2024-04-17 21:01:55</td>
            <td>買進</td>
            <td>美金</td>
            <td>100</td>
            <td>3000</td>
            <td>30.0</td>
            <td class="delete">
                <button>刪除</button>
            </td>
        </tr>
        <tr>
            <th colspan="8">股票</th>
        </tr>
        <tr>
            <th>#</th>
            <th>紀錄時間</th>
            <th>買/賣</th>
            <th>股票代號</th>
            <th>股價</th>
            <th>股數(股)</th>
            <th>成交價格</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>2024-04-18 21:01:55</td>
            <td>買進</td>
            <td>0050</td>
            <td>160</td>
            <td>2000</td>
            <td>320000</td>
            <td class="delete">
                <button>刪除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="liability">
    <p>負債</p>
    <table>
        <tbody>
        <tr>
            <th>#</th>
            <th>紀錄時間</th>
            <th>借/貸</th>
            <th>項目</th>
            <th>金額</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>2024-04-18 21:01:55</td>
            <td>借款</td>
            <td>小額貸</td>
            <td>2000</td>
            <td class="delete">
                <button>刪除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="accounting-feat">
    <button class="asset-btn" id="asset-btn">資產</button>
    <button class="liability-btn" id="liability-btn">負債</button>
</div>

<div class="hide content" id="asset-content">
    <div class="asset-type" id="asset-type">
        <div class="asset-type-title">類別:</div>
        <div class="btnCursor" id="asset-current-deposit">活儲</div>
        <div class="btnCursor" id="asset-foreign-currencies">外幣</div>
        <div class="btnCursor" id="asset-stock">股票</div>
    </div>

    <div
            class="asset-current-deposit-wrapper hide content"
            id="asset-current-deposit-wrapper"
    >
        <div class="asset-current-deposit-type">
            <div
                    class="asset-current-deposit-type-title"
                    id="asset-current-deposit-type-title"
            >
                類別:
            </div>
            <div class="btnCursor" id="asset-current-deposit-type-deposit">
                存入
            </div>
            <div class="btnCursor" id="asset-current-deposit-type-withdraw">
                提出
            </div>
        </div>
        <div
                class="asset-current-deposit-amount"
                id="asset-current-deposit-amount"
        >
            <label for="asset-current-deposit-amount-detail">金額: </label>
            <input
                    id="asset-current-deposit-amount-detail"
                    min="1"
                    name="asset-current-deposit-amount-detail"
                    required
                    type="number"
            />
        </div>
    </div>

    <div
            class="asset-foreign-currencies-wrapper hide content"
            id="asset-foreign-currencies-wrapper"
    >
        <div
                class="asset-foreign-currencies-name"
                id="asset-foreign-currencies-name"
        >
            <label for="asset-foreign-currencies-name-detail">幣別: </label>
            <input
                    id="asset-foreign-currencies-name-detail"
                    min="1"
                    name="asset-foreign-currencies-name-detail"
                    required
                    type="text"
            />
        </div>
        <div class="asset-foreign-currencies-action">
            <div
                    class="asset-foreign-currencies-title"
                    id="asset-foreign-currencies-title"
            >
                類別:
            </div>
            <div class="btnCursor" id="asset-foreign-currencies-buy">買入</div>
            <div class="btnCursor" id="assete-foreign-currencies-sale">賣出</div>
        </div>
        <div
                class="asset-foreign-currencies-amount-foreign"
                id="asset-foreign-currencies-amount-foreign"
        >
            <label for="asset-foreign-currencies-amount-foreign-detail"
            >外幣數:
            </label>
            <input
                    id="asset-foreign-currencies-amount-foreign-detail"
                    min="1"
                    name="asset-foreign-currencies-amount-foreign-detail"
                    required
                    type="number"
            />
        </div>
        <div
                class="asset-foreign-currencies-amount-twd"
                id="asset-foreign-currencies-amount-twd"
        >
            <label for="asset-foreign-currencies-amount-twd-detail"
            >臺幣數:
            </label>
            <input
                    id="asset-foreign-currencies-amount-twd-detail"
                    min="1"
                    name="asset-foreign-currencies-amount-twd-detail"
                    required
                    type="number"
            />
        </div>
        <div
                class="asset-foreign-currencies-rate"
                id="asset-foreign-currencies-rate"
        >
            <label for="asset-foreign-currencies-rate-detail">匯率: </label>
            <input
                    id="asset-foreign-currencies-rate-detail"
                    min="1"
                    name="asset-foreign-currencies-rate-detail"
                    required
                    type="number"
            />
        </div>
    </div>

    <div class="asset-stock-wrapper hide content" id="asset-stock-wrapper">
        <div class="asset-stock-name" id="asset-stock-name">
            <label for="asset-stock-name-detail">股票代號: </label>
            <input
                    id="asset-stock-name-detail"
                    name="asset-foreign-currencies-name-detail"
                    required
            />
        </div>
        <div class="asset-stock-action">
            <div class="asset-stock-action-title" id="asset-stock-action-title">
                類別:
            </div>
            <div class="btnCursor" id="asset-stock-action-buy">買入</div>
            <div class="btnCursor" id="asset-stock-action-sale">賣出</div>
        </div>
        <div class="asset-stock-price" id="asset-stock-price">
            <label for="asset-stock-price-detail">股價: </label>
            <input
                    id="asset-stock-price-detail"
                    min="1"
                    name="asset-stock-price-detail"
                    required
                    type="number"
            />
        </div>
        <div class="asset-stock-quantity" id="asset-stock-quantity">
            <label for="asset-stock-quantity-detail">股數: </label>
            <input
                    id="asset-stock-quantity-detail"
                    min="1"
                    name="asset-stock-quantity-detail"
                    required
                    type="number"
            />
            <div class="btnCursor" id="asset-stock-quantity-lot">張</div>
            <div class="btnCursor" id="asset-stock-quantity-share">股</div>
        </div>
        <div class="asset-stock-amount" id="asset-stock-amount">
            <label for="asset-stock-amount-detail">成交金額: </label>
            <input
                    id="asset-stock-amount-detail"
                    min="1"
                    name="asset-stock-amount-detail"
                    required
                    type="number"
            />
        </div>
    </div>

    <div class="asset-button hide content" id="asset-button">
        <button class="asset-sent">送出</button>
    </div>
</div>

<div class="liability-content hide content" id="liability-content">
    <div class="liability-action" id="liability-action">
        <div class="liability-action-title">類別:</div>
        <div
                class="liability-action-payment btnCursor"
                id="liability-action-payment"
        >
            借款
        </div>
        <div
                class="liability-action-repayment btnCursor"
                id="liability-action-repayment"
        >
            還款
        </div>
    </div>
    <div class="liability-item" id="liability-item">
        <label for="liability-item">細項: </label>
        <input
                id="liability-item-input"
                min="1"
                name="liability-item"
                required
                type="text"
        />
    </div>
    <div class="liability-amount" id="liability-amount">
        <label for="liability-amount">金額: </label>
        <input
                id="liability-amount-input"
                min="1"
                name="liability-amount"
                required
                type="number"
        />
    </div>
    <div class="liability-button" id="liability-button">
        <button class="liability-sent">送出</button>
    </div>
</div>
<script>
    const date = new Date();
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, "0");

    function handleExpenseClick() {
        event.preventDefault(); // 防止頁面立即導航
        const newUrl = `/dashboard?date=${year}-${month}`;
        window.location.href = newUrl;
    }

    function handleBalanceSheetClick() {
        event.preventDefault(); // 防止頁面立即導航
        const newUrl = `/balance-sheet?date=${year}-${month}`;
        window.location.href = newUrl;
    }
</script>
<script th:src="@{/asset.js}"></script>
<script th:src="@{/assetFetchData.js}"></script>
</body>
</html>
