<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Dream Track</title>
    <link rel="stylesheet" th:href="@{/balanceSheet.css}" type="text/css"/>
</head>
<body>
<header class="main-header">
    <div class="header-flex">
        <div id="logo">Dream Track</div>
        <ul class="feature">
            <li>
                <a href="/">記帳</a
                >
            </li>
            <li>|</li>
            <li><a href="/asset">記資產</a></li>
        </ul>

        <ul class="main-nav-l">
            <li>
                <a href="" id="expenseLink" onClick="handleExpenseClick()"
                >收支圖表</a
                >
            </li>
            <li>|</li>
            <li><a href="" id="menLink" onClick="handleBalanceSheetClick()">資產負債表</a></li>
        </ul>
        <div id="login">Log In</div>
    </div>
</header>
<div id="time">
    <div id="month" onclick="navigate('month')" th:classappend="${highlightMonth ? 'selected' : ''}">單月資產負債表
    </div>
    <div id="year" onclick="navigate('year')" th:classappend="${highlightYear ? 'selected' : ''}">年度資產負債表</div>
</div>
<div id="time-container">
    <div id="time-container-left" onclick="navigatePreviousMonth()"><</div>
    <div id="time-container-content" th:text="${time_container}"></div>
    <div id="time-container-right" onclick="navigateNextMonth()">></div>
</div>
<div id="no-info" th:style="${showNoInfo} ? 'display: flex;' : 'display: none;'">
    <p>沒有資料</p>
</div>
<div id="balance-sheet" th:if="${balance_sheet_table != null}"
     th:style="${showNoInfo} ? 'display: none;' : 'display: flex;'">
    <div id="line-1">
        <div id="line-1-pie">
            <div id="line-1-pie-content">
                <div id="piediv"></div>
            </div>
        </div>
        <div id="line-1-table">
            <div id="line-1-table-content">
                <table class="balance-sheet-table">
                    <thead>
                    <tr>
                        <th>資產負債表</th>
                        <th>台幣</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="balance_sheet_table:${balance_sheet_table}">
                        <th>活儲</th>
                        <td th:text="${balance_sheet_table.assetCurrent}"></td>
                    </tr>
                    <tr>
                        <th>外幣</th>
                        <td th:text="${balance_sheet_table.assetCurrencies}"></td>
                    </tr>
                    <tr>
                        <th>股票</th>
                        <td th:text="${balance_sheet_table.assetStock}"></td>
                    </tr>
                    <tr>
                        <th>負債</th>
                        <td th:text="${balance_sheet_table.liability}"></td>
                    </tr>
                    <tr>
                        <th>淨資產</th>
                        <td th:text="${balance_sheet_table.netIncome}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--    <div id="line-2">-->
    <!--        <div id="line-2-line">-->
    <!--            <div id="line-2-line-content">-->
    <!--                <div id="linediv"></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div id="line-2-table">-->
    <!--            <div id="line-2-table-content">-->
    <!--                <table class="table">-->
    <!--                    <thead>-->
    <!--                    <tr>-->
    <!--                        <th scope="col">#</th>-->
    <!--                        <th scope="col">First</th>-->
    <!--                        <th scope="col">Last</th>-->
    <!--                        <th scope="col">Handle</th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    <tbody>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">1</th>-->
    <!--                        <td>Mark</td>-->
    <!--                        <td>Otto</td>-->
    <!--                        <td>@mdo</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">2</th>-->
    <!--                        <td>Jacob</td>-->
    <!--                        <td>Thornton</td>-->
    <!--                        <td>@fat</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">3</th>-->
    <!--                        <td colspan="2">Larry the Bird</td>-->
    <!--                        <td>@twitter</td>-->
    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                </table>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        type="text/javascript"
></script>
<script
        src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"
        type="text/javascript"
></script>
<script>
    const date = new Date();
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, "0");

    function handleExpenseClick() {
        event.preventDefault(); // 防止頁面立即導航
        const newUrl = `/dashboard?date=${year}-${month}`;
        window.location.href = newUrl; // 更改當前窗口的位置
    }

    function handleBalanceSheetClick() {
        event.preventDefault(); // 防止頁面立即導航
        const newUrl = `/balance-sheet?date=${year}-${month}`;
        window.location.href = newUrl; // 更改當前窗口的位置
    }

    function navigate(type) {
        const lineTwoDiv = document.getElementById('line-two');

        if (type === 'month') {
            window.location.href = `/balance-sheet?date=${year}-` + (new Date().getMonth() + 1).toString().padStart(2, '0');
            lineTwoDiv.style.display = '';
        } else if (type === 'year') {
            window.location.href = `/balance-sheet?year=${year}`;
            lineTwoDiv.style.display = 'none';
        }
    }

    const contentDiv = document.getElementById('time-container-content');
    const currentDate = contentDiv.textContent.trim();
    const dateParts = currentDate.split('-');
    let navigateYear = parseInt(dateParts[0]);
    let navigateMonth = parseInt(dateParts[1]);

    function navigatePreviousMonth() {
        if (dateParts.length === 1) {
            let navigateOnlyYear = parseInt(dateParts[0]) - 1;
            window.location.href = `/balance-sheet?year=${navigateOnlyYear}`;
        } else {
            if (navigateMonth === 1) {
                navigateMonth = 12;
                navigateYear -= 1; // 如果是一月，則跳轉到前一年的十二月
            } else {
                navigateMonth -= 1; // 否則月份減一
            }
            window.location.href = `/balance-sheet?date=${navigateYear}-${navigateMonth.toString().padStart(2, '0')}`;
        }
    }

    function navigateNextMonth() {
        if (dateParts.length === 1) {
            let navigateOnlyYear = parseInt(dateParts[0]) + 1;
            window.location.href = `/balance-sheet?year=${navigateOnlyYear}`;
        } else {
            if (navigateMonth === 12) {
                navigateMonth = 1;
                navigateYear += 1;
            } else {
                navigateMonth += 1;
            }
            window.location.href = `/balance-sheet?date=${navigateYear}-${navigateMonth.toString().padStart(2, '0')}`;
        }
    }
</script>
<script th:inline="javascript">
    let balanceSheet = [[${balance_sheet != null ? balance_sheet: '[]' }]];
    let netIncomeData = [[${net_income != null ? net_income: '[]' }]];
</script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script th:src="@{/balanceSheet.js}"></script>
</body>
</html>
